{% extends 'base.html' %}
{% block contenido %}
<h1>Comentarios y Valoraciones</h1>

<h2>Comentarios</h2>
<table id="tabla-comentarios">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo Electrónico</th>
            <th>Comentario</th>
        </tr>
    </thead>
    <tbody>
        <!-- Contenido generado por JavaScript -->
    </tbody>
</table>

<h2>Valoraciones</h2>
<table id="tabla-valoraciones">
    <thead>
        <tr>
            <th>ID</th>
            <th>Platillo</th>
            <th>Puntos</th>
        </tr>
    </thead>
    <tbody>
        <!-- Contenido generado por JavaScript -->
          
   
    </tbody>
</table>
{% endblock contenido %}