{% extends 'base.html' %}

{% block contenido %}
    <div class="content">
        <h3>Listado de Platillos</h3>
        <table id="tabla-platillos">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for platillo in platillos %}
                <tr>
                    <td>{{ platillo.platillo_ID }}</td>
                    <td>{{ platillo.plato }}</td>
                    <td>{{ platillo.descripcion }}</td>
                    <td>{{ platillo.precio }}</td>
                    <td>
                        <a class="btn-accion btn-eliminar" href="{{ url_for('eliminar_platillo', id=platillo.platillo_ID) }}" >Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
{% endblock contenido %}

